.b-1-slider {
	position: relative;
	padding: 0 40px 50px;
}
.b-1 .pos {
	display: block;
	padding: 5px 15px;
	border-radius: 10px;
	position: absolute;
	bottom: 70px;
	right: 90px;
	background-color: rgb(255, 255, 255, 0.4);
	z-index: 10;
}
.b-1 .pos p {
	display: block;
	font-size: 16px;
	font-family: 'OpenSans-Bold';
	color: #ffffff;
	margin: 0;
}
.b-1-slider .slick-dots {
	position: absolute;
	bottom: 25px;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
	line-height: 0;
}
.b-1-slider .slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.b-1-slider .slick-dots li button {
	display: block;
	border: 0;
	font-size: 0;
	background-color: transparent;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(221, 223, 224);
}
.b-1-slider .slick-dots li button:hover {
	cursor: pointer;
}
.b-1-slider .slick-dots li.slick-active button {
	background-color: rgb(255, 38, 74);
}
.b-1-slider .slick-arrow {
	position: absolute;
	top: calc(50% - 40px);
	width: 30px;
	height: 30px;
	background-color: rgb(246, 247, 248);
	border-radius: 50%;
	border: 0;
	font-size: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-slider .slick-arrow:hover {
	cursor: pointer;
	-webkit-filter: brightness(0.9);
	-moz-filter: brightness(0.9);
	-ms-filter: brightness(0.9);
	filter: brightness(0.9);
}
.b-1-slider .slick-arrow::before {
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-size: contain;
}
.b-1-slider .slick-prev {
	left: 0;
}
.b-1-slider .slick-prev::before {
	background-image: url('../i/arr-prev.svg');
}
.b-1-slider .slick-next {
	right: 0;
}
.b-1-slider .slick-next::before {
	background-image: url('../i/arr-next.svg');
}
.b-1-slide {
	padding: 100px 90px 70px;
	text-align: left;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	background-image: -moz-linear-gradient( 0deg, rgb(78,89,107) 0%, rgb(112,124,145) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(78,89,107) 0%, rgb(112,124,145) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(78,89,107) 0%, rgb(112,124,145) 100%);
}
.b-1 h2 {
	display: block;
	width: 50%;
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 1.2;
	color: #ffffff;
	font-family: 'PfHighwaySansPro-Regular';
}
.b-1 p {
	display: block;
	width: 50%;
	margin-bottom: 80px;
	font-size: 18px;
	color: #ffffff;
	line-height: 1.2;
}
.b-1-slide .abs-img {
	display: block;
	position: absolute;
	right: 90px;
	bottom: 0;
	max-width: calc(50% - 90px);
	max-height: 100%;
	z-index: -1;
}
.b-1-btn {
	display: inline-block;
	background-color: rgb(255, 221, 45);
	padding: 20px 45px;
	border-radius: 4px;
	max-width: 100%;
	box-sizing: border-box;
	font-size: 21px;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-btn:hover {
	background-color: rgb(225, 191, 25);
}

.b-2-wrap-1 .b-block {
	padding-top: 60px;
	padding-bottom: 150px;
}
.b-2-wrap-1 h2 {
	display: block;
	font-family: 'PfHighwaySansPro-Regular';
	color: #3e4757;
	font-size: 36px;
	line-height: 1.2;
	margin-bottom: 20px;
}
.b-2-wrap-1 p {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	line-height: 1.2;
	font-size: 18px;
	color: #3e4757;
}
.b-2-wrap-2 {
	background-color: rgb(246, 247, 248);
}
.b-2-wrap-2 .b-block {
	padding-top: 1px;
	padding-bottom: 1px;
}
.b-2-list {
	display: inline-block;
	width: 100%;
}
.b-2-list li {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	box-sizing: border-box;
	width: calc(33% - 4px);
	margin-top: -80px;
	margin-bottom: 40px;
}
.b-2-list .li-ball {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto 50px;
	background-color: rgb(255, 221, 45);
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.b-2-list .li-ball span {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-family: 'PfHighwaySansPro-Regular';
	font-size: 30px;
	color: rgb(62, 71, 87);
	line-height: 1.2;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-2-list .li-name {
	display: block;
	font-family: 'OpenSans-SemiBold';
	font-size: 18px;
	line-height: 1.2;
	color: rgb(62, 71, 87);
	margin-bottom: 20px;
}
.b-2-list .li-text {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #4d5663;
}

.b-3 .b-block {
	padding-top: 70px;
	padding-bottom: 70px;
}
.b-3 h2 {
	display: block;
	font-size: 36px;
	color: rgb(62, 71, 87);
	line-height: 1.2;
	font-family: 'PfHighwaySansPro-Regular';
	margin-bottom: 40px;
}
.b-3 .filter {
	margin-bottom: 50px;
}
.b-3 .filter li {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid transparent;
	margin: 0 15px;
	overflow: hidden;
	color: rgb(116, 163, 210);
	font-size: 18px;
	line-height: 1.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3 .filter li:hover {
	cursor: pointer;
	color: rgb(62, 71, 87);
}
.b-3 .filter li.active {
	border: 1px solid rgb(221, 223, 224);
	color: rgb(62, 71, 87);
}
.b-3-slider {
	padding: 0 40px;
	position: relative;
}
.b-3-slider .slick-arrow {
	position: absolute;
	top: calc(50% - 5px);
	width: 30px;
	height: 30px;
	background-color: rgb(246, 247, 248);
	border-radius: 50%;
	border: 0;
	font-size: 0;
	overflow: hidden;
}
.b-3-slider .slick-arrow:hover {
	cursor: pointer;
}
.b-3-slider .slick-arrow::before {
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-size: contain;
}
.b-3-slider .slick-prev {
	left: 0;
}
.b-3-slider .slick-prev::before {
	background-image: url('../i/arr-prev.svg');
}
.b-3-slider .slick-next {
	right: 0;
}
.b-3-slider .slick-next::before {
	background-image: url('../i/arr-next.svg');
}
.b-3-slide {
	padding-top: 10px;
	margin: 0 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	/*-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);*/
}
/*.b-3-slider.active .b-3-slide {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}*/
.b-3-slide:hover {
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}
.b-3-slide .slide-wrap {
	border-radius: 4px;
	border: 1px solid rgb(221, 223, 224);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}
.b-3-slide:hover .slide-wrap {
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 1, 0.05);
}
.b-3-image {
	display: block;
	position: relative;
	width: 100%;
	height: 150px;
}
.b-3-image img {
	display: block;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-3-text {
	box-sizing: border-box;
	padding: 20px 30px;
	background-color: #ffffff;
}
.b-3-text .name {
	text-align: left;
	font-family: 'OpenSans-SemiBold';
	font-size: 18px;
	color: #3e4757;
	margin-bottom: 20px;
}
.b-3-text p {
	display: block;
	text-align: left;
	color: #4d5663;
	line-height: 1.2;
	font-size: 14px;
	margin-bottom: 20px;
}
.b-3-btn {
	display: block;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	background-color: rgb(246, 247, 248);
	border-radius: 4px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	font-size: 18px;
	color: rgb(77, 86, 99);
}
.b-3-btn:hover {
	background-color: rgb(221, 223, 224);
	color: rgb(62, 71, 87);
}

.b-4 .b-block {
	padding-top: 60px;
	padding-bottom: 50px;
}
.b-4 h2 {
	display: block;
	font-size: 36px;
	color: rgb(62, 71, 87);
	line-height: 1.2;
	font-family: 'PfHighwaySansPro-Regular';
	margin-bottom: 60px;
}
.b-4-list .qwestion {
	display: block;
	box-sizing: border-box;
	position: relative;
	border: 1px solid rgb(221, 223, 224);
	padding: 30px 70px 30px 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li.active .qwestion {
	background-color: #f6f7f8;
}
.b-4-list .qwestion:hover {
	cursor: pointer;
}
.b-4-list .qwestion::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgb(255, 38, 74);
	position: absolute;
	left: 20px;
	top: calc(50% - 5px);
}
.b-4-list .qwestion span {
	display: block;
	text-align: left;
	font-family: 'OpenSans-SemiBold';
	font-size: 18px;
	color: #3e4757;
}
.b-4-list .qwestion .arrow {
	position: absolute;
	top: calc(50% - 15px);
	right: 20px;
	width: 30px;
	height: 30px;
	background-color: rgb(246, 247, 248);
	border-radius: 50%;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li.active .qwestion .arrow {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	background-color: #ffffff;
}
.b-4-list .qwestion .arrow::before {
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-90deg);
	-moz-transform: translate(-50%, -50%) rotate(-90deg);
	-ms-transform: translate(-50%, -50%) rotate(-90deg);
	transform: translate(-50%, -50%) rotate(-90deg);
	background-size: contain;
	background-image: url('../i/arr-prev.svg');
}
.b-4-list .answer {
	text-align: left;
	font-size: 16px;
	padding: 0 40px;
	box-sizing: border-box;
	max-height: 0;
	overflow: hidden;
	color: #3e4757;
	border-left: 1px solid rgb(221, 223, 224);
	border-right: 1px solid rgb(221, 223, 224);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li.active .answer {
	padding: 20px 40px;
	background-color: #f6f7f8;
	max-height: 500px;
}

.b-5 .b-block {
	padding-top: 40px;
	padding-bottom: 40px;
}
.b-5-wrap {
	border: 1px solid rgb(221, 223, 224);
	border-radius: 4px;
	padding: 50px 10px 40px;
}
.b-5 h2 {
	display: block;
	font-size: 36px;
	color: rgb(62, 71, 87);
	line-height: 1.2;
	font-family: 'PfHighwaySansPro-Regular';
	margin-bottom: 40px;
}
.b-5 h2 span {
	color: #e61739;
}
.b-5 form {
	box-sizing: border-box;
	max-width: 730px;
	width: 100%;
	margin: 0 auto;
}
.b-5 form .radio-name {
	text-align: left;
	font-family: 'OpenSans-SemiBold';
	color: rgb(62, 71, 87);
	font-size: 18px;
	margin-bottom: 25px;
	line-height: 1.2;
}
.b-5 form .radio-list li {
	display: inline-block;
	vertical-align: middle;
	width: calc(50% - 4px);
	box-sizing: border-box;
	margin-bottom: 30px;
}
.b-5 form .radio-list li:nth-child(odd) {
	padding-right: 15px;
}
.b-5 form .radio-list li:nth-child(even) {
	padding-left: 15px;
}
.b-5 form .radio-list input {
	visibility: hidden !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 0 !important;
	height: 0 !important;
	border: 0 !important;
}
.b-5 form .radio-list label {
	display: block;
	box-sizing: border-box;
	padding: 20px 10px;
	border: 1px solid rgb(221, 223, 224);
	border-radius: 4px;
}
.b-5 form .radio-list label:hover {
	cursor: pointer;
}
.b-5 form .radio-list label span {
	display: inline-block;
	box-sizing: border-box;
	max-width: 100%;
	font-family: 'OpenSans-Regular';
	font-size: 18px;
	color: rgb(62, 71, 87);
	line-height: 1.2;
	position: relative;
	padding-left: 48px;
}
.b-5 form .radio-list label span b {
	display: block;
	width: 27px;
	height: 27px;
	border-radius: 4px;
	background-color: rgb(246, 247, 248);
	position: absolute;
	left: 0;
	top: calc(50% - 14px);
}
.b-5 form .radio-list label.active span b {
	background-color: rgb(255, 38, 74);
}
.b-5 form .radio-list label.active span b::before {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	background-color: #ffffff;
	position: absolute;
	top: 14px;
	left: 4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.b-5 form .radio-list label.active span b::after {
	content: '';
	display: block;
	width: 15px;
	height: 2px;
	background-color: #ffffff;
	position: absolute;
	top: 12px;
	left: 10px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.b-5 form input {
	display: block;
	margin-bottom: 30px;
	box-sizing: border-box;
	text-align: left;
	width: 100%;
	padding: 20px;
	font-family: 'OpenSans-Regular';
	color: rgb(62, 71, 87);
	font-size: 18px;
	background-color: rgb(246, 247, 248);
	border: 1px solid rgb(246, 247, 248);
	border-radius: 4px;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 form input::-webkit-input-placeholder {color:rgb(62, 71, 87);}
.b-5 form input::-moz-placeholder          {color:rgb(62, 71, 87);}
.b-5 form input:-moz-placeholder           {color:rgb(62, 71, 87);}
.b-5 form input:-ms-input-placeholder      {color:rgb(62, 71, 87);}
.b-5 form input:focus::-webkit-input-placeholder {color:transparent;}
.b-5 form input:focus::-moz-placeholder          {color:transparent;}
.b-5 form input:focus:-moz-placeholder           {color:transparent;}
.b-5 form input:focus:-ms-input-placeholder      {color:transparent;}
.b-5 form input:focus {
	background-color: #ffffff;
}
.b-5 form textarea {
	display: block;
	margin-bottom: 30px;
	box-sizing: border-box;
	text-align: left;
	width: 100%;
	padding: 20px;
	font-family: 'OpenSans-Regular';
	color: rgb(62, 71, 87);
	font-size: 18px;
	background-color: rgb(246, 247, 248);
	border: 1px solid rgb(246, 247, 248);
	border-radius: 4px;
	resize: none;
	height: 180px;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 form textarea::-webkit-input-placeholder {color:rgb(62, 71, 87);}
.b-5 form textarea::-moz-placeholder          {color:rgb(62, 71, 87);}
.b-5 form textarea:-moz-placeholder           {color:rgb(62, 71, 87);}
.b-5 form textarea:-ms-input-placeholder      {color:rgb(62, 71, 87);}
.b-5 form textarea:focus::-webkit-input-placeholder {color:transparent;}
.b-5 form textarea:focus::-moz-placeholder          {color:transparent;}
.b-5 form textarea:focus:-moz-placeholder           {color:transparent;}
.b-5 form textarea:focus:-ms-input-placeholder      {color:transparent;}
.b-5 form textarea:focus {
	background-color: #ffffff;
}
.b-5 form .buttons {
	border-top: 1px solid rgb(221, 223, 224);
	padding-top: 30px;
}
.b-5 form .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	color: rgb(155, 161, 169);
	line-height: 1.2;
	position: relative;
	text-align: left;
	padding-left: 48px;
	margin-top: 10px;
}
.b-5 form .button-text a {
	color: #74a3d2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 form .button-text a:hover {
	color: #000000;
}
.b-5 form .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;
	background-color: rgb(221, 223, 224);
	left: 0;
	top: 2px;
	border-radius: 4px;
}
.b-5 form .button-text .radio-btn.error {
	background-color: #ff0000;
}
.b-5 form .button-text .radio-btn:hover {
	cursor: pointer;
}
.b-5 form .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	left: 4px;
	top: 14px;
	background-color: rgb(77, 86, 99);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.b-5 form .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 15px;
	height: 2px;
	position: absolute;
	left: 10px;
	top: 12px;
	background-color: rgb(77, 86, 99);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.b-5 form button {
	display: inline-block;
	padding: 20px 70px;
	border: 0;
	border-radius: 4px;
	background-color: rgb(255, 221, 45);
	font-size: 21px;
	color: #000000;
	font-family: 'OpenSans-Regular';
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 form button:hover {
	cursor: pointer;
	background-color: rgb(225, 191, 25);
}

.b-6 .b-block {
	padding-top: 60px;
	padding-bottom: 30px;
}
.b-6 h2 {
	display: block;
	text-align: left;
	font-family: 'PfHighwaySansPro-Regular';
	font-size: 36px;
	color: #3e4757;
	margin-bottom: 10px;
}
.b-6 h3 {
	display: block;
	text-align: left;
	font-size: 18px;
	color: #3e4757;
	margin-bottom: 50px;
}
.b-6 p {
	display: block;
	text-align: left;
	font-size: 16px;
	line-height: 1.5;
	color: rgb(155, 161, 169);
	margin-bottom: 30px;
}





@media screen and (max-width: 1280px){
	.b-1 h2 {
		width: 100%;
	}
	.b-1 p {
		width:100%;
	}
}
@media screen and (max-width: 767px){
	.b-1-slide {
		padding: 10px 10px 0;
		text-align: center;
	}
	.b-1-slide .abs-img {
		position: static;
		max-width: 100%;
		margin: 0 auto;
	}
	.b-1 h2 {
		font-size: 24px;
	}
	.b-1 p {
		font-size: 14px;
		margin-bottom: 30px;
	}
	.b-1-btn {
		position: absolute;
		left: 50%;
		bottom: 70px;
		white-space: nowrap;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.b-1 .pos {
		right: 50%;
		-webkit-transform: translateX(50%);
		-moz-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
	.b-2-wrap-1 .b-block {
		padding-bottom: 40px;
	}
	.b-2-wrap-2 .b-block {
		padding-top: 40px;
	}
	.b-2-list li {
		display: block;
		width: 100%;
		margin-top: 0;
	}
	.b-3 .filter li {
		display: block;
		margin: 0 auto 10px;
	}
	.b-4-list .qwestion {
		padding: 30px 50px 30px 40px;
	}
	.b-4-list .qwestion .arrow {
		right: 10px;
	}
	.b-5 form .radio-list {
		margin-bottom: 30px;
	}
	.b-5 form .radio-list li {
		display: block;
		width: 100%;
		padding: 0 !important;
		margin-bottom: 10px;
	}
	.b-5 form input, .b-5 form textarea {
		font-size: 16px;
	}
	.b-5 form button {
		display: block;
		width: 100%;
		max-width: 250px;
		margin: 0 auto;
		float: none !important;
		padding: 20px;
	}
	.b-5 form .button-text {
		float: none !important;
	}
}