.b-1 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../i/info-fon.jpg');
	text-align: left;
}
.b-1 .b-block {
	padding-top: 100px;
	padding-bottom: 220px;
}
.b-1 h1 {
	display: block;
	width: 50%;
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 1.2;
	color: #ffffff;
	font-family: 'PfHighwaySansPro-Regular';
}
.b-1 p {
	display: block;
	width: 50%;
	margin-bottom: 80px;
	font-size: 18px;
	color: #ffffff;
	line-height: 1.2;
}
.b-1-btn {
	display: inline-block;
	background-color: rgb(255, 221, 45);
	padding: 20px 45px;
	border-radius: 4px;
	max-width: 100%;
	box-sizing: border-box;
	font-size: 21px;
	color: #000000;
}
.b-1 .nav {
	display: block;
	position: absolute;
	top: 20px;
	left: 30px;
}
.b-1 .nav span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 18px;
	margin-left: 10px;
	position: relative;
	font-size: 12px;
	color: #ffffff;
}
.b-1 .nav span a {
	font-size: 12px;
	color: #ffffff;
}
.b-1 .nav span a:hover {
	text-decoration: underline;
}
.b-1 .nav span:first-child {
	padding-left: 0;
	margin-left: 0;
}
.b-1 .nav span::before {
	content: '>';
	display: block;
	position: absolute;
	left: 0;
	top: calc(50% - 11px);
	font-size: 16px;
}
.b-1 .nav span:first-child:before {
	display: none;
}

.b-2 .b-block {
	padding-top: 60px;
	padding-bottom: 60px;
}
.b-2 .filter {
	text-align: left;
	margin-bottom: 50px;
}
.b-2 .filter li {
	display: inline-block;
	vertical-align: top;
	max-width: 250px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid rgb(221, 223, 224);
	margin: 0 15px;
	overflow: hidden;
	color: rgb(116, 163, 210);
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .filter li:hover {
	cursor: pointer;
}
.b-2 .filter li.active {
	color: rgb(62, 71, 87);
	background-color: rgb(221, 223, 224);
}
.b-2-list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 40px;
	box-sizing: border-box;
	width: 255px;
}
.b-2-list .li-image {
	margin-bottom: 20px;
}
.b-2-list .li-image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.b-2-list .li-name {
	text-align: left;
	font-family: 'OpenSans-SemiBold';
	font-size: 18px;
	line-height: 1.2;
	color: rgb(62, 71, 87);
	margin-bottom: 10px;
}
.b-2-list .li-hash {
	text-align: left;
	font-size: 14px;
	color: rgb(77, 86, 99);
	line-height: 1.2;
}
.b-2 .more-btn {
	display: block;
	margin: 0 auto;
	border-radius: 4px;
	border: 1px solid rgb(116, 163, 210);
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
	padding: 20px;
	font-size: 18px;
	color: rgb(116, 163, 210);
}





@media screen and (max-width: 1280px){
	.b-1 {
		background-position: 65%;
	}
}
@media screen and (max-width: 767px){
	.b-1 {
		background-position: center;
	}
	.b-1 h1 {
		width: 100%;
	}
	.b-1 p {
		width: 100%;
	}
	.b-1 .nav {
		left: 10px;
	}
	.b-2-list li {
		display: block;
		margin: 0 auto 40px;
	}
	.b-2-list .li-name {
		text-align: center;
	}
	.b-2-list .li-hash {
		text-align: center;
	}
}