.b-1 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: -moz-linear-gradient( 0deg, rgb(78,89,107) 0%, rgb(112,124,145) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(78,89,107) 0%, rgb(112,124,145) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(78,89,107) 0%, rgb(112,124,145) 100%);
	text-align: left;
}
.b-1 .b-block {
	padding-top: 170px;
	padding-bottom: 170px;
}
.b-1 h1 {
	display: block;
	width: 50%;
	margin-bottom: 20px;
	font-size: 48px;
	line-height: 1.2;
	color: #ffffff;
	font-family: 'PfHighwaySansPro-Regular';
}
.b-1 p {
	display: block;
	width: 50%;
	margin-bottom: 80px;
	font-size: 18px;
	color: #ffffff;
	line-height: 1.2;
}
.b-1 .abs-img {
	display: block;
	max-width: 50%;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	right: 30px;
}
.b-1-btn {
	display: inline-block;
	background-color: rgb(255, 221, 45);
	padding: 20px 45px;
	border-radius: 4px;
	max-width: 100%;
	box-sizing: border-box;
	font-size: 21px;
	color: #000000;
}
.b-1 .nav {
	display: block;
	position: absolute;
	top: 20px;
	left: 30px;
}
.b-1 .nav span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 18px;
	margin-left: 10px;
	position: relative;
	font-size: 12px;
	color: rgb(155, 161, 169);
}
.b-1 .nav span a {
	font-size: 12px;
	color: rgb(155, 161, 169);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 .nav span a:hover {
	color: #ffffff;
}
.b-1 .nav span:first-child {
	padding-left: 0;
	margin-left: 0;
}
.b-1 .nav span::before {
	content: '>';
	display: block;
	position: absolute;
	left: 0;
	top: calc(50% - 11px);
	font-size: 16px;
}
.b-1 .nav span:first-child:before {
	display: none;
}

.b-2 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}









@media screen and (max-width: 1280px){
}
@media screen and (max-width: 767px){
	.b-1 {
		text-align: center;
	}
	.b-1 .b-block {
		padding-top: 70px;
		padding-bottom: 0;
	}
	.b-1 h1 {
		width: 100%;
		font-size: 24px;
	}
	.b-1 p {
		width: 100%;
		font-size: 14px;
		margin-bottom: 20px;
	}
	.b-1 .abs-img {
		position: static;
		max-width: 100%;
		margin: 0 auto;
		max-height: 300px;
	}
	.b-1 .nav {
		left: 10px;
	}
}